*.gem
.bundle
pkg/*
tmp/*
coverage/*
log*/*
.rbx/*
.rspec
*.swp

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
/Gemfile.lock
/gemfiles/*.lock
/.ruby-version
/.ruby-gemset
